[Unit]
Description=Upgrade IPA server upon subsequent runs
Before=ipa.service

[Service]
Type=oneshot
ExecStart=/usr/sbin/ipa-server-configure-first upgrade
ExecStartPost=/usr/sbin/ipa-server-status-check
FailureAction=poweroff

[Install]
WantedBy=container-ipa.target
